body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.client-finder-box {
  
    max-width: 500px;
    border: 1px solid #d2d1d1;
    padding: 24px;
    margin: 24px auto 60px auto;
    border-radius: 6px;
}

.form-group:not(:last-child){
    margin-bottom: 24px;
}
.form-group label{
    display: inline-block;
    margin-bottom: 8px;
}
.form-group input[type="text"] {
    height: 42px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
    padding: 0 16px;
}
.form-group button[type="submit"] {
    padding: 12px 46px;
    border: 0;
    background-color: #2196f3;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.form-group button[type="submit"]:hover{
    background-color: #1483dc;
    transition: 0.4s;
}

.cs-checkbox {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   .cs-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }

  .cs-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .cs-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
    .cs-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  .cs-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .progress {
    margin:20px auto;
    padding:0;
    width:100%;
    height:30px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }
  
  .bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:#2196f3;
  }
  
  .percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:white;
  }
  .search-result{
      padding: 32px 0;
  }
.item-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.box {
    border: 1px solid #b1afaf87;
    padding: 24px;
    text-align: center;
    border-radius: 4px;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: 0.4s;
    background-color: #fcfdff;
}
.box:hover{
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 4%), 0 2px 6px 0 rgb(0 0 0 / 4%), 0 10px 20px 0 rgb(0 0 0 / 4%);
    background-color: #fcfdff;
    transition: 0.4s;
}